@{
    ViewData["Title"] = "About Tea towels";
}
<h1>@ViewData["Title"]</h1>
<h3>Tea towels is an online plateform for electronics items.</h3>
<p>We are located at Spring Garden Windsor, ON, Canada</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11812.613666495952!2d-83.03224956569825!3d42.253896206750866!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b2e70d5d3db87%3A0xce915fd26110f16f!2sSpring%20Garden%2C%20Windsor%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sin!4v1665866157677!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
